{% extends "main/base.html" %}
{% from "common/form_macros.html" import render_field %}

{% block styles %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/select2.css') }}">
{% endblock styles %}


{% block title %}
	Catalog -- {{ title }}
{% endblock %}

{% block content %}
	<section class="item-form">
		<h1>{{ title }}</h1>
		<form action="" method="post">
			{{form.hidden_tag()}}
			<table>
				{{ render_field(form.name) }}
				{{ render_field(form.description) }}
				{{ render_field(form.category, id='categories') }}
				<tr class="submit">
					<td></td>
					<td>
						<button type="submit">Submit</button>
					</td>
				</tr>
			</table>
		</form>
	</section>
{% endblock %}

{% block scripts %}
	<script src="{{ url_for('static', filename='js/vendor/select2.min.js') }}"></script>
	<script>
		$(document).ready(function(){
			
			var _categoryNames = {{ all_categories()|map(attribute='name')|list|tojson|safe }};
			var _categoryIds = {{ all_categories()|map(attribute='id')|list|tojson|safe }};
			var i = 0;
			var len = _categoryNames.length;
			var data  = [];
			for (; i < len; ) { 
				catObj = {
					id: _categoryIds[i],
					text: _categoryNames[i]
				}
			    data[i] = catObj;
			    console.log("catObj id: " + catObj.id + " catObj text: " + catObj.text)
			    i++;
			}
			var selectedCategoryName = "{{ form.category.data.name }}";
			var selectedCategoryId = "{{ form.category.data.id }}";

			$('#categories').select2({
								width: 'resolve',
								data: data
						    });
			if (selectedCategoryName) {
				var catObj = {
					id: selectedCategoryId,
					text: selectedCategoryName
				}
				$('#categories').select2('data', catObj);	
			}

			});
			
	</script>
{% endblock scripts %}

