{% extends "main/base.html" %}
{% from "common/form_macros.html" import render_field %}

{% block title %}
Catalog -- Signup	
{% endblock title %}	


{% block content %}
	<section>
		<h1 style="clear:both">Create an account</h1>
		<form action="" method="post">
			{{ form.hidden_tag() }}
			<table>
				{{ render_field(form.name, size=50) }}
				{{ render_field(form.username, size=50) }}
				{{ render_field(form.password, size=50) }}
				{{ render_field(form.password2, size=50) }}
				{{ render_field(form.submit) }}
			</table>
		</form>
	</section>
{% endblock content %}
