<!-- extend base layout -->
{% extends "main/base.html" %}
{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Latest Items</h1>
      <div class="row placeholders">
          {% if new_items.count() > 0  %}
                {% with items=new_items %}
                    {% include "items/item_list.html" %}
                {% endwith %}
                
            {% else %}
                No items have been added yet
            {% endif %}
        </div>
    </div>   
       
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
  $(document).ready(function(){
     $('#itemInfo').on('show.bs.modal', function (event) { // id of the modal with event
        var button = $(event.relatedTarget) // Button that triggered the modal
        var itemName = button.data('item-name') // Extract name from data-* attributes
        var itemDescription = button.data('item-description')
        
        var title = itemName
        var content = itemDescription
        
        // Update the modal's content.
        var modal = $(this)
        modal.find('.modal-title').text(title)
        modal.find('.modal-body').text(content)   
      })
    });
  </script>
{% endblock scripts %}
