<!-- extend base layout -->
{% extends "main/base.html" %}
{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Latest Items</h1>
      <div class="row placeholders">
          {% if new_items.count() > 0  %}
                {% with items=new_items %}
                    {% include "items/item_list.html" %}
                {% endwith %}
                
            {% else %}
                No items have been added yet
            {% endif %}
        </div>
    </div>   
       
{% endblock %}
